.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; /* Memindahkan tombol ke ujung sebelah kanan */
    min-height: 200px; /* Tentukan tinggi minimum container */
}

/* Styling untuk judul form */
h2 {
    text-align: center;
    color: #333;
}

label {
    width: 100%; /* Lebar label 100% dari container */
    display: flex;
    justify-content: space-between; /* Untuk mengatur jarak antara label dan input */
    margin-bottom: 10px;
    font-weight: normal;
}
/* Styling untuk input text */
input[type="text"],
input[type="email"] {
    width: 500%; /* Lebar input 100% dari container */
    max-width: 460px; /* Batasi lebar input agar tidak melebihi container */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling untuk tombol submit */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    
    margin-top: auto; /* Tombol akan mendapatkan margin atas otomatis */
    align-self: flex-end; /* Tombol akan berada di pojok kanan bawah */
}
