/* styleDetail.css */

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-icon {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.icon-menu {
    font-size: 18px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    min-width: 120px;
    z-index: 100;
}

.dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.menu-icon:hover .dropdown-content {
    display: block;
}

/* Tambahkan perubahan warna saat diarahkan */
.dropdown-content a:hover {
    background-color: #f0f0f0;
    color: #333;
}
